{% extends "layout.html" %}

{% block content %}
<div class="card" style="width: 18rem; height: 180rem;-align :center;color: rgb(0, 0, 0)">
    
    <div class="card-body">
      <h5 class="card-title">Quien soy?</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text" font face ="Comic Sans Ms,arial,verdana" fontsize=4>Soy un estudiante de tercer semestre de la facultad de ingenieria , estudio ingenieria mecatronica me llamo Aldo</p>
      <a href="https://www.instagram.com/aldo_vidalesr/" 
          target="_blank" class="card-link">Instagram</a>
      <a target="_blank" href="https://www.facebook.com/Vortex-industries-103572048170338" class="card-link">Facebook</a>
    </div>
  </div>
{% endblock %}
   
