{% extends "layout.html" %}

{% block content %}
<h1>Proyectos</h1>
<ul>
<li aria-disabled="false">
    <iframe width="560" height="315" position:relative; src="https://www.youtube.com/embed/f9oxAT1T-EY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</li>
<li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jGvH0qdulJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</li>
</ul>
{% endblock %}